.toolbar {
    background-color: #212124;
    margin: 0;
    height : 54px;
    min-height: 54px;
    max-height: 54px;
}

.sidebar {
    background-color: #24b600;
    margin: 0;
    width : 300px;
    min-width: 300px;
    max-width: 300px;
}

.content {
    background-color: #212124;
    margin: 0;
}

.background {
    background-color: #14154d;
    height: 100vh;
    margin: 0;
}

body {
    background-color: #212124;
    height: 100vh;
    margin: 0;
}

.button {
    background-color: #3d3a3a;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;

    transition-duration: 0.4s;
}

.button:hover {
    background-color: #1c1a1a;
    color: white;

}
